<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>" >
    <%= f.hidden_field :_destroy %>

    <div class="wrapper-input-container">
      <%= f.label :group_id %>
      <%= f.select :group_id, @groups, class: 'wrapper-input' %>
      <div></div>
    </div>

    <div class="wrapper-input-container">
      <%= f.label :amount %>
      <%= f.number_field :amount, require: true, class: 'wrapper-input' %>  
        <button type="button" data-action="nested-form#remove" class="wrapper-btn">X</button>
    </div><br />

  
</div>